


:root{
    --menuTop: 56px;
    --whiteWord: #ffffff
}
body {
    margin: 0;
}

img,#header_background,#mask {
    width: 100%;
    height: 100%;
}

#mask {
    position: absolute;
    background: rgba(0, 64, 125, 1);
    opacity: 0.5;
    top: 0;
}

#header_background img {
    object-fit: cover;
}

#navbar {
    background-color: #001122;
    text-align: left;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: var(--menuTop);
    padding: 0;
    top: 0;
    z-index: 100;
}

#nav_company_name{
    color: var(--whiteWord);
    font-size: 20px;
    margin-left: 12px;
}
#company_name{
    position: absolute;
    border: #fff 2px solid;
    color: var(--whiteWord);
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#company_name span{
    display: block;
    text-align: center;
    font-size: 26pt;
}

#logo_block {
    background-color: #ffffff;
    text-align: center;
    height: 68%;
    aspect-ratio: 65/56;
    margin: 0 0 0 3vw;
}

#company{
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 45vh;
    margin-top: var(--menuTop);
}

#header_background{
    width: 100%;
    height: 100%;
}